/bin/
/art/
/bootable/
/build/
/cts/
/dalvik/
/developers/
/development/
/device/
/external/
/frameworks/
/hardware/
/libcore/
/out/
/packages/
/pdk/
/platform_testing/
/prebuilts/
/sdk/
/system/
/tools/
